.card
{
    min-width: 80px;
    max-width: 250px;

    padding: 15px;
    box-sizing: border-box;
    border-radius: 5px;
    
}
.card:hover
{
box-shadow: 0px 0px 15px rebeccapurple;
}  
    
.button1
{
width: 100%;
box-sizing: border-box;
background: #00ACDC;
border-radius: 5px;
position: relative;
padding: 12px;
display: inline-block;
text-transform: uppercase;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
outline: none;

}
.button1:hover
{
background: rgb(238, 238, 238);
cursor: pointer;
}
.picture_box
{
margin: 30px 20px;

}

.picture
{
    width: 100%;
}

.title
{
    font-size: 12px;
    line-height: 1.25;

    margin: 0 0 6px;
    padding: 20px 0 10px 0; 

    color: #000;
    user-select: none;
}
.grn
{
    float: right;
    font-weight: bold;
    font-size: 20px;
    line-height: 16px;
    user-select: none;
}
.rating
{
    float: left;
    width: 50%;
    user-select: none;
}
.reviev
{
    float: right;
    user-select: none;
}
.card__status 

{
    margin-bottom: 20px;
    overflow: hidden;
    padding: 20px auto;
}
.price
{
    padding: 15px 0 20px 0;
    user-select: none;
}